{% extends "learning_logs/base.html" %}
{% block header %}
<div class='jumbotron'>
    <h1>Журнал обучения. <br></h1>
        <h2><small>
            <div class="list-group">
                <li>Создавайте свой собственный журнал.</li> 
                <li>Создавайте в журнале свои темы, добавляйте в них записи. </li>
                <li>Никто не сможет увидеть ваши темы и записи.</li>
            </div>
        </small></h2>
</div>
{% endblock header %}

{% block content %}

<h2>
    <div class="alert" role="alert">
        {% if user.is_authenticated %}
            <a href="{% url 'topics' %}" class="alert-link">Перейти</a> к вашему списку изучаемых тем.
        {% else %}
            <a href="{% url 'register' %}" class="alert-link">Создайте</a> свой собственный журнал обучения, перечисляйте темы, которые вы изучаете.<br>
            Уже есть журнал? <a href="{% url 'login' %}" class="alert-link">Войти</a>
        {% endif %}
        
    </div>
</h2>
{% endblock content %}