{% extends 'learning_logs/base.html' %}
{% block header %}
    <h2>{{ topic }} <small>Автор: {{ topic.owner }}</small></h2>
{% endblock header %}

{% block content %}
    {% if topic.owner.id == user.id %}
        <p>
            <a class="btn btn-primary" href="{% url 'new_entry' topic.id %}" role="button">Добавить запись</a>
        </p>
    {% endif %}
    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    {% if topic.owner.id == user.id %}
                        <small>
                            <a href="{% url 'edit_entry' entry.id %}" class="btn btn-primary btn-sm" role="button">Редактировать</a>
                        </small>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div> <!-- panel -->
        
    {% empty %}
        В этой теме пока нет записей.
    {% endfor %}
{% endblock content %}