{% extends 'learning_logs/base.html' %}
{% block header %}
    <h2>{{ topic }} 
            {% if topic.owner.id == user.id %}
                <small>
                        <a href="{% url 'edit_topic' topic.id %}" class="btn btn-success btn-sm" role="button">Редактировать тему</a>
                </small>
            {% endif %}
        <small>
            {% if topic.public %}
                <br>Общедоступная тема{% if topic.owner.id == user.id %}. Зарегистрированные могут читать записи в этой теме {% endif %}
            {% endif %}
            <font size=3>
                <br>
                Автор: {{ topic.owner }} 
                <br> 
                Дата создания: {{ topic.date_added }}
            </font>
        </small>
    </h2>
    {% if topic.owner.id == user.id %}
        <p>
            <a class="btn btn-danger" href="{% url 'delete_topic' topic.id %}" role="button">Удалить тему</a>
        </p>
    {% endif %}
{% endblock header %}

{% block content %}
    {% if topic.owner.id == user.id %}
        <p>
            <a class="btn btn-primary" href="{% url 'new_entry' topic.id %}" role="button">Добавить запись</a>
        </p>
    {% endif %}
    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="card-header">
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    {% if topic.owner.id == user.id %}
                        <small>
                            <a href="{% url 'edit_entry' entry.id %}" class="btn btn-success btn-sm" role="button">Редактировать</a>
                        </small>
                        <small>
                            <a href="{% url 'delete_entry' entry.id %}" class="btn btn-danger btn-sm" role="button">Удалить</a>
                        </small>
                    {% endif %}
                </h4>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div> <!-- panel -->
        
    {% empty %}
    <h3>
        В этой теме пока нет записей.
    </h3>
    {% endfor %}
    
{% endblock content %}